<!--
<table ng-repeat= "(key, value) in standings | groupBy: 'division'">
  <tr>
    <th>{{key}}</th>
  </tr>
  <tr>
    <th>Team</th>
    <th>Wins</th>
    <th>Losses</th>
  </tr>
  <tbody>
    <tr ng-repeat = "team in value">
      <td>{{team.team}}</td>
      <td>{{team.wins}}</td>
      <td>{{team.losses}}</td>
    </tr>
  </tbody>
</table>
-->
<div layout-padding flex>
    <md-data-table ng-repeat= "(key, value) in standings | groupBy: 'division'"
            table-card="{visible: tableCardIsEnabled}"
            selectable-rows="tableIsSelectable"
            alternate-headers="'contextual'"
            sortable-columns="tableIsSortable">
        <md-data-table-header-row>
            <md-data-table-column>{{key}}</md-data-table-column>

        </md-data-table-header-row>

        <md-data-table-header-row>
            <md-data-table-column>Team</md-data-table-column>
            <md-data-table-column >wins</md-data-table-column>
            <md-data-table-column>Losses</md-data-table-column>

        </md-data-table-header-row>

        <md-data-table-row
                table-row-id="nutrition.id"
                ng-repeat="team in value">
            <md-data-table-cell>{{team.team}}</md-data-table-cell>
            <md-data-table-cell>{{team.wins}}</md-data-table-cell>
            <md-data-table-cell>{{team.losses}}</md-data-table-cell>
        </md-data-table-row>
    </md-data-table>
</div>
