<!--
<table ng-repeat= "(key, value) in standings | groupBy: 'division'">
  <tr>
    <th>{{key}}</th>
  </tr>
  <tr>
    <th>Team</th>
    <th>Wins</th>
    <th>Losses</th>
  </tr>
  <tbody>
    <tr ng-repeat = "team in value">
      <td>{{team.team}}</td>
      <td>{{team.wins}}</td>
      <td>{{team.losses}}</td>
    </tr>
  </tbody>
</table>
-->

<div class="container">
  <div class="panel panel-info" ng-repeat= "(key, value) in standings | groupBy: 'division'">
      <div class="panel-heading">{{key}}</div>
      <div class="panel-body">
        <table>
          <thead>
              <th class="col-md-4">Team</th>
              <th class="col-md-4">Wins</th>
              <th class="col-md-4">Losses</th>
          </thead>
          <tbody>
            <tr ng-repeat = "team in value">
              <td class="col-md-4">{{team.team}}</td>
              <td class="col-md-4">{{team.wins}}</td>
              <td class="col-md-4">{{team.losses}}</td>
            </tr>
          </tbody>
        </table>
      </div>
  </div>
</div>

<!--

  <md-grid-tile ng-repeat= "(key, value) in standings | groupBy: 'division'" class="division">
    <p>{{key}}</p>
    <table>
      <thead>
        <th>Team</th>
        <th>Wins</th>
        <th>Losses</th>
      </thead>
      <tbody>
        <tr ng-repeat = "team in value">
          <td class="col-md-4">{{team.team}}</td>
          <td class="col-md-4">{{team.wins}}</td>
          <td class="col-md-4">{{team.losses}}</td>
        </tr>
      </tbody>
    </table>
  </md-grid-tile>
</md-grid-list>
