md-card {
  padding: 20px;
}

main {
  min-height: calc(100vh - 64px);
}

footer{
  height:64px;
  background: #0291D1;
  color: #FFFFFF;
}

.contactEmail{
  border-radius:13px;
}

md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}
h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; //adjust for svg viewbox
  }
}

.sidenav-item-link{
  text-decoration: none;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

/*
 * Override Bootstrap Classes
 */
.division{
  border-radius:3px;
  border:2px solid #ABCDEF;
}

.table>tbody>tr>th{
  border-top:0px;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 0px solid #ddd;
}
